{% extends "base.html" %}
{% block title %}
Pesanan
{% endblock %}
{% set navbar = True %}
{% block content %}

<!-- Produk Andalan -->
<section class="py-5">
    <div class="container px-4 px-lg-5">
        <div class="row">
            <div class="col-md-4">
                <h1>Produk Kami</h1>
            </div>
            <div class="col-md-8 justify-content-between d-flex">
                <ul class="nav nav-pills ms-auto" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active rounded-5  p-2 px-4 me-2 my-2 border border-primary"
                            id="pills-semuaMenu-tab" data-bs-toggle="pill" data-bs-target="#pills-semuaMenu"
                            type="button" role="tab" aria-controls="pills-semuaMenu" aria-selected="true">Semua
                            Menu</button>
                    </li>
                    {% for category in categories %}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link rounded-5  p-2 px-4 me-2 my-2 border border-primary"
                            id="pills-{{ category|lower|replace(' ', '') }}-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-{{ category|lower|replace(' ', '') }}">{{ category }}</button>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="tab-content my-4" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-semuaMenu" role="tabpanel"
                aria-labelledby="pills-semuaMenu-tab" tabindex="0">
                <div class="row ">
                    {% for menu in menus %}
                    <div class="col-6 col-md-4 col-lg-3 my-3">
                        <div class="rounded position-relative">
                            <div class="ratio ratio-4x3">
                                <img class="img-fluid object-fit-cover rounded-top"
                                    src="{{ url_for('static', filename=menu.gambar[7:]) }}" alt="{{menu.nama}}">
                            </div>
                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                                style="top: 10px; left: 10px;">{{menu.kategori}}</div>
                            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                <h4 class="fw-bold">{{menu.nama}}</h4>
                                <p>Minimal Pembelian {{menu.minimal_pembelian}}</p>
                                <div
                                    class="justify-content-between d-block justify-content-center align-items-center">
                                    <strong>{{ menu.harga | format_idr }}</strong>
                                    <form method="POST" action="{{ url_for('user.add_to_cart', menu_id=menu._id) }}">
                                        <input type="hidden" name="menu_id" value="{{ menu._id }}">
                                        <button type="submit"
                                            class="btn border border-secondary rounded-pill px-3 btn-secondary mt-3">
                                            <ion-icon name="bag-add-outline"></ion-icon>
                                            Keranjang
                                        </button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% for category in categories %}
            <div class="tab-pane fade" id="pills-{{ category|lower|replace(' ', '') }}" role="tabpanel"
                aria-labelledby="pills-{{ category|lower|replace(' ', '') }}-tab">
                <div class="row">
                    {% for menu in menus %}
                    {% if menu.kategori == category %}
                    <div class="col-6 col-md-4 col-lg-3 my-3">
                        <div class="rounded position-relative">
                            <div class="ratio ratio-4x3">
                                <img class="img-fluid object-fit-cover rounded-top"
                                    src="{{ url_for('static', filename=menu.gambar[7:]) }}" alt="{{menu.nama}}">
                            </div>
                            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                <h4 class="fw-bold">{{menu.nama}}</h4>
                                <p>Minimal Pembelian {{menu.minimal_pembelian}}</p>
                                <div
                                    class="d-lg-flex justify-content-between d-block justify-content-center align-items-center">
                                    <strong>{{ menu.harga | format_idr }}</strong>
                                    <form method="POST" action="{{ url_for('user.add_to_cart', menu_id=menu._id) }}">
                                        <input type="hidden" name="menu_id" value="{{ menu._id }}">
                                        <button type="submit"
                                            class="btn border border-secondary rounded-pill px-3 btn-secondary mt-3">
                                            <ion-icon name="bag-add-outline"></ion-icon>
                                            Keranjang
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
<!-- End Produk Andalan -->


{% endblock %}
