{% extends "base.html" %}
{% block title %}
Pesanan
{% endblock %}
{% set navbar = True %}
{% block content %}
{% if orders %}
<section>
    <div class="container py-5">
        <h2 class="fw-bold mb-4">Pesanan Saya</h2>
        <div class="row">
            <div class="col">
                {% for order in orders %}
                <div class="shadow bg-white rounded-4 mb-3">
                    <!-- Tampilkan informasi pesanan -->
                    <div class="d-block p-4">
                        <div class="d-md-flex">
                            <h5 class="fw-bold">{{ order.order_id }}</h5>
                            <p id="payment-status-{{ order.order_id }}" class="ms-3 badge rounded-pill fs-6 ms-auto
                                    {% if order.payment_status == 'pending' %}
                                        bg-warning
                                    {% elif order.payment_status == 'settlement' %}
                                        bg-primary 
                                    {% else %}
                                        bg-danger
                                    {% endif %}
                                ">
                                <ion-icon
                                    name="{% if order.payment_status == 'pending' %}time{% elif order.payment_status == 'settlement' %}checkmark-circle{% else %}close-circle{% endif %}"
                                    class="me-1"></ion-icon>

                                {% if order.payment_status == 'pending' %}
                                <span class="countdown" data-expiry-time="{{ order.expiry_time }}"></span>
                                {% else %}
                                <span>{{ order.payment_status }}</span>
                                {% endif %}

                            </p>
                           
                        </div>

                        {% for item in order['items'] %}
                        <div class="d-flex my-2">
                            <img src="{{ url_for('static', filename=item['menu_details']['gambar'][7:]) }}" alt=""
                                class="rounded-3 object-fit-cover" width="120" height="120">
                            <div class="ms-3 d-md-flex justify-content-between flex-grow-1">
                                <div class="text-dark">
                                    <h6>{{ item['menu_details']['nama'] }}</h6>
                                    <small>{{ item['quantity'] }} Barang x {{ item['menu_details']['harga'] | format_idr
                                        }}</small>
                                </div>
                                <div class="text-dark">
                                    <h6 class="d-none d-md-block">Total Harga</h6>
                                    <p>{{ item['total'] | format_idr }}</p>
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                        <div class="d-flex  align-items-center">
                            <div class="ms-auto">
                                <h5>Total Pembelian</h5>
                                <p>{{order.total_amount | format_idr }}</p>
                            </div>

                            {% if order.payment_status == 'pending' %}
                            <button class="btn btn-primary btn-pay-now ms-5 rounded-5 px-4"
                                data-snap-token="{{ order.snap_token }}" data-order-id="{{ order.order_id }}">Bayar
                                Sekarang</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://app.sandbox.midtrans.com/snap/snap.js"
    data-client-key="client_key"></script>
<script>
    $(document).ready(function () {
        // Initialize countdown for each order
        $('.countdown').each(function () {
            var expiryTime = $(this).data('expiry-time');
            initializeCountdown(expiryTime, $(this));
        });

        // Handle payment button click
        $('.btn-pay-now').click(function () {
            var snapToken = $(this).data('snap-token');
            var orderId = $(this).data('order-id');
            snap.pay(snapToken, {
                onSuccess: function (result) {
                    alert("Payment successful!");
                    console.log(result);
                },
                onPending: function (result) {
                    alert("Waiting for your payment!");
                    console.log(result);
                },
                onError: function (result) {
                    alert("Payment failed!");
                    console.log(result);
                },
                onClose: function () {
                    alert("You closed the popup without finishing the payment");
                }
            });
        });

        // Handle cancel button click
        $('.btn-cancel').click(function () {
            var orderId = $(this).data('order-id');
            // Implement cancel transaction logic here
            alert("Cancel transaction logic should be implemented here for order ID: " + orderId);
            // Optionally, you can perform an AJAX request to cancel the transaction
        });
    });


    function initializeCountdown(expiryTime, element) {
        var expiryDate = new Date(expiryTime.replace(/-/g, '/'));

        var x = setInterval(function () {
            var now = new Date().getTime();
            var distance = expiryDate - now;

            if (distance >= 0) {
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                // Format hours, minutes, and seconds to always display two digits
                var formattedTime =
                    ('0' + hours).slice(-2) + ':' +
                    ('0' + minutes).slice(-2) + ':' +
                    ('0' + seconds).slice(-2);

                element.text(formattedTime);
            } else {
                clearInterval(x);
                element.text("00:00:00");

                // Wait for 3 seconds before reloading the page
                // setTimeout(function () {
                //     location.reload();
                // }); // Adjust the timeout duration as needed
            }
        }, 1000);
    }
</script>
{% endblock %}
